.navbar {
  display: flex;
  background-color: #1f2428;
  overflow-x: auto;

  .navbar-active {
    background-color: #24292e;
    border-top: 1px solid #fff;
  }
  .navbar-items {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.25rem;
    border-right: 1px solid #1b1f23;
    color: #fff;

    cursor: pointer;
    img {
      width: 18px;
      margin-right: 0.3rem;
    }
  }
}
.link {
  text-decoration: none;
}

@media screen and (max-width: 1050px) {
  .navbar {
    width: 75vw;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    width: calc(100vw - 10rem - 4rem);
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    width: calc(100vw - 3rem);
  }
}

// @media screen and (max-width: 600px) {
//   .navbar {
//     width: 60vw;
//   }
// }

// @media screen and (max-width: 400px) {
//   .navbar {
//     width: 40vw;
//   }
// }
