.projects {
  .projects-container {
    padding: 2rem;
    .projects-cards {
      display: flex;
      flex-wrap: wrap;

      .projects-card {
        margin: 2rem 1.5rem 0 0;
        background-color: #1f2428;
        border-radius: 20px;

        cursor: pointer;
        transition: box-shadow 0.2s ease-in-out;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .project-card-img {
          .card-img {
            max-width: 100%;
            height: 220px;
            border-radius: 20px;
            object-fit: cover;
          }
        }
        .card-title {
          font-size: 1.5rem;
          padding: 0rem 0 0 1rem;
        }
        .description {
          padding: 0.6rem 0 0 1rem;
          max-width: 100%;
        }
        .project-card-img {
          height: 250px;
          width: 100%;
        }
        .what-i-use {
          padding: 1rem 0 0 1rem;
          .program-used {
            padding: 0.2rem 0.5rem;
            margin: 0.5rem 0.5rem 0 0;
            border-radius: 20px;
            // border: 2px solid #7858a6;
            transition: 0.5s background-color ease-in-out;

            &:hover {
              background-color: #4f3770;
              transition: 0.5s background-color ease-in-out;
            }
          }
          .react {
            color: green;
          }
          .material {
            color: red;
          }

          .scss {
            color: yellow;
          }
        }

        .card-footer {
          padding: 1rem 0 1rem 1rem;
          .source-code {
            margin: 0.3rem;
            background-color: transparent;
            color: #fff;
            border: none;
            cursor: pointer;
            position: relative;
            padding: 0 0 0.2rem 0;
            &::before {
              content: "";
              position: absolute;
              width: 0;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: #7858a6;
              transition: all 0.3s ease-in-out;
            }
            &:hover::before {
              visibility: visible;
              width: 100%;
            }
          }
          .live-demo {
            margin: 0.3rem;
            background-color: transparent;
            color: #fff;
            border: none;
            cursor: pointer;
            padding: 0 0 0.2rem 0;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 0;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: #7858a6;
              transition: all 0.3s ease-in-out;
            }
            &:hover::before {
              visibility: visible;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1455px) {
  .projects {
    .projects-container {
      .projects-cards {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 1045px) {
  .projects {
    .projects-container {
      padding: 1.3rem;
      .projects-cards {
        .projects-card {
          margin: 2rem 1.5rem 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 546px) {
  .projects {
    .projects-container {
      .projects-cards {
        .projects-card {
          margin: 2rem 0 0 0;
        }
      }
    }
  }
}
