.second-sidebar {
  width: 16rem;
  background-color: #1f2428;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #161a1d;
  p {
    padding: 0.5rem 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .portfolio-items {
    p {
      padding: 0.9rem 0 0.4rem 0.7rem;
      font-size: 0.9rem;
      text-transform: uppercase;
    }
    .portfolio-links {
      a {
        color: #fff;
      }
      .portfolio-link {
        &:hover {
          background-color: #24292e;
          cursor: pointer;
        }

        display: flex;
        align-items: center;
        padding: 0.25rem 1rem;

        img {
          width: 18px;
          margin: 0 0.3rem 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .second-sidebar {
    display: none;
  }
}
