@import "./styles/topNav";
@import "./styles/sidebar";
@import "./styles/footer";
@import "./styles/secondSidebar";
@import "./styles/navbar";
@import "./styles/home";
@import "./styles/about";
@import "./styles/contact";
@import "./styles/projects";
@import "./styles/articles";
@import "./styles/github";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #24292e;
  color: #fff;
  font-family: "Roboto", sans-serif;
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #414141;
  }
}

.content {
  display: flex;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input,
textarea {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.75rem;
  background-color: #1f2428;
  border: none;
  color: #fff;
  resize: none;
  outline-color: #7858a6;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1432px) {
  input,
  textarea {
    font-size: 1rem;
  }
}
