@import "./styles/topNav";
@import "./styles/sidebar";
@import "./styles/footer";
@import "./styles/secondSidebar";
@import "./styles/navbar";
@import "./styles/home";
@import "./styles/about";
@import "./styles/contact";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #24292e;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.content {
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
